@media screen and (max-width: 767px) {

  .flexRow--footer-mobile-newsletter {
    background-color: #dd1e2f;
  }

  .flexRow--footer-mobile-message {
    display    : flex;
    align-items: center;
    padding    : 0 16px;
    margin     : 0;
  }
}

.flexRow--footer-mobile-newsletter {
  background-color: #dd1e2f;
}

.flexRowContent--footer-mobile-newsletter {
  flex-direction: column;
  max-width     : 100%;
  border-radius : 5px 5px 0 0;
  margin-top    : 5px;
  width         : 100%;
}

.flexRowContent--footer-mobile-newsletter :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.flexRowContent--footer-mobile-message {
  margin         : 25px 15px;
  display        : flex;
  justify-content: center;
  text-align     : center;
}

.flexRow--footer-mobile-politics {
  margin-bottom: 20px;
}