.listItem {
  border       : 2px solid #dd1e2f;
  background-color: #fff;
  box-sizing   : border-box;
  border-radius: 8px;
  padding: 0;
}

.listItem :global(.vtex-button__label) {
  text-transform: none;
  color: #dd1e2f;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
}

.listItemActive {
  background-color: #dd1e2f !important;
}

.listItemActive:hover {
  background-color: #c5212e !important;
}

.listItemActive :global(.vtex-button__label) {
  color: #fff;
}