.container--promo-politics {
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin-top     : 90px;
}

.wrapper--promo-politics {
  max-width    : 1220px;
  text-align   :justify;
  padding-left : 20px;
  padding-right: 20px;
  font-family: Poppins;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

.paragraph--promo-politics {
  margin-top: 0;
}

.link--promo-politics {
  color: #dd1e2f;
}