.emailInputContainer--footer-input-mobile {
  width  : 90%;
  display: flex;
}

.newsletterForm--mobile-newsletter-form {
  display       : flex;
  flex-direction: column;
  gap           : 5px;
}

.newsletterForm--mobile-newsletter-form :global(.vtex-store-newsletter-1-x-formSubmitContainer) {
  width: 90%;
  margin: 0;
}

.newsletterForm--mobile-newsletter-form :global(.vtex-button) {
  border-radius: 20px;
  margin-top   : 12px;
  width        : 100%;
  filter       : drop-shadow(0 3px 6px rgba(0, 0, 0, .25));
  margin-bottom: 12px;
}