.label{
    color: #1a1919;
    font-size: 13px;
    align-self: center;
    text-align: left;
}

.profileIcon{
    color: transparent;
    width              : 40px;
    min-width          : 40px;
    height             : 40px;
    background-image   : url(assets/img/login-icon.jpg);
    background-size    : 100%;
    background-position: 50%;
    background-repeat  : no-repeat;
}

.container {
    color: green;
    font-size: 13px;
    align-self: center;
    text-align: left;
}

.label {
    color: #1a1919;
    font-size: 13px;
    align-self: center;
    text-align: left;
    content: "Mi cuenta";
    text-transform: capitalize;
}
