.menuContainer--header__menu {
    justify-content: space-between;
    max-width      : 100%;
    margin         : auto;
    position       : relative;
    padding        : 0 12px;
}

.menuContainerNav--header__menu {
    margin   : auto;
    max-width: 1380px;
}

/* .styledLinkContent{
    font-weight: 500;
    font-size  : 12px;
    line-height: 18px;
    text-align : center;
    color      : #1a1919;
    transition : all .3s ease;
    font-family: Poppins;
    height     : 40px;
    display    : flex;
    align-items: center;
} */

.menuContainer--header__menu :global(.vtex-menu-2-x-styledLinkContainer) {
    padding: 0;
    margin: 0;
    position: relative;
}

/* .styledLinkContent::after {
    content: "";
    display: block;
    width: 0;
    margin: 0 50%;
    height: 3px;
    border-radius: 2px;
    background-color: transparent;
    transition: all .3s ease;
    position: absolute;
    bottom: 4px;
}

.styledLinkContent::after{
    background-color: #dd1e2f;
    width: 100%;
    margin: 0;
}
.styledLinkContent:hover {
    opacity: .8;
    color: red;
} */

/* .menuItem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: auto;
}

.menuItem--isOpen::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: red;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
.menuItem--isOpen:hover::after,
.menuItem--isOpen:focus::after {
    transform: scale(1);
} */