.menuContainer--header__menu {
    justify-content: space-between;
    max-width      : 100%;
    margin         : auto;
    position       : relative;
    padding        : 0 12px;
}

.menuContainerNav--header__menu {
    margin   : auto;
    max-width: 1380px;
}


.menuContainer--header__menu :global(.vtex-menu-2-x-styledLinkContainer) {
    padding: 0;
    margin: 0;
    position: relative;
}

.menuContainer--header__menu :global(.vtex-menu-2-x-styledLinkContent) {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #1a1919;
    transition: all .3s ease;
    height: 40px;
    display: flex;
    align-items: center;
    font-family: Poppins;
} 
