.cartIcon{
    color: transparent;
    width              : 40px;
    min-width          : 40px;
    height             : 40px;
    background-image   : url("https://itgloberspartnercl.vteximg.com.br/arquivos/icon-cart.svg");
    background-size    : 100%;
    background-position: 50%;
    background-repeat  : no-repeat;
}

.openIconContainer::after {
    content: "Mi compra";
    text-transform: none;
    color: #1a1919;
    font-size: 16px;
    position: relative;
    align-self: center;
    margin-left: 10px;
}

.minicartTitle {
    display: none;
}

.closeIconContainer {
    justify-content: right;
}

.closeIconButton {
    color: #dd1e2f;
    margin: 3px 0 0 3px;
}

.minicartEmptyStateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0,0,0,.5)!important;
}